/*Litila one , Luckiest guy*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

.body {
    touch-action: none;
    
}

.topDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper {
    background-image: url(img/background.jpg);
    width: 100vw;
    max-width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 66;
}

.scoreAnimation {
    position: absolute;
    width: 10px;
    height: 10px;
    color: white;
}

.modal {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #e9e7e7;
    z-index: 4;
    transition: 200ms;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}


.modal--content {
    width: 100%;
    overflow-y: scroll;
    position: relative;
}

.modal--exit{
    position: absolute;
    right: 20px;
    top: 10px;
    
}

.modal--exit img {
    height: 25px;
}

.modal--powerUps {
    padding: 20px;

}

.modal--powerUpsWrapper {
    display: flex;
    gap: 10px;
}

.modal--powerUpsWrapper div {
    width: 100%;

    border-radius: 20px;
    text-align: center;
    background-color: white;
}

.modal--powerUpsTitle {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.powerUps--cpc,
.powerUps--ac {
    padding: 10px;
    font-size: .6em;
    position: relative;

}



.powerUps--img {
    height: 50px;
}

.modal--skins {
    width: 100%;
    margin-top: 10px;
    padding: 0 20px 0 20px;
    padding-bottom: 120px;
}



.skin-wrapper {
    padding: 10px 15px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: white;
    display: flex;

}

.skin--img {
    display: flex;
    align-items: center;
}

.skin--title {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.skin-wrapper img {
    width: 50px;

}


.skin-wrapper h2 {
    font-size: 20px;
}

.skin--buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: self-end;
}

.skin--buttons button {

    color: white;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 40px;
}

.skin--equipButton {
    background-color: rgb(24, 90, 212);
}

.skin--buyButton {
    background-color: #05cf05;
    position: relative;
}

.skin--message {
    position: absolute;
    width: 180px ;
    height: 40px;
    background-color: rgb(238, 238, 238);
    left: -200px;
    top: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    opacity: 0;
    transition: 400ms;
}

.skin--message div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.skin--message div::before {
    position: absolute;
    width: 15px;

    height: 15px;
    right: -5px;
    background-color: rgb(238, 238, 238);
   content: '3';
    transform: rotate(45deg);
    color:rgb(238, 238, 238) ;
}

.skin--message h2 {
    font-size: 1rem;
    color: black;
}

.coin {
    width: 27vh;
    transition: 50ms;
    position: absolute;
    top: 32vh;
    
}

.menu {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: space-between;
    color: white;
    bottom: 20PX;
    position: absolute;
    background-color: white;
    width: 50%;
    height: 90px;
    border-radius: 15px;
    z-index: 5;
}

.menu-button {
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}

.menu-button img {
    
    width: 45px;
}

.menu-button.active{
    transform: scale(1.45);
}

.header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: absolute;
    width: 100%;
    height: 70px;
    color: white;
    letter-spacing: 3px;
    padding: 5px;
    

}

.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: black;
    opacity: 50%;
}


.score {
    font-size: 1.4em;

}

.bonuses {
    width: 100%;
    position: absolute;
    top: 70px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
}

.perc {
    text-align: center;
    padding: 10px;
    font-size: .6em;
}

.streak h3 {
    font-size: 3em;
}

.crypto-bonus {
    font-size: 2em;
}

.errorModal {
   
    position: absolute;
    background-color: rgb(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
    z-index: 900;
    display: flex;
    align-items: center;
    display: none;
    
}

.errorModal div {
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    height: 20%;
    z-index: 950;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-color: red;
   
}

.errorModal--message {
    margin-bottom: 20px;
}

.errorModal--button {
    padding: 10px;
    background-color: white;
    border-color: black;
    border-radius: 10px;
}

@media (max-width: 350px) {
    .skin-wrapper h2 {
        font-size: 15px;
    }
    
  }

  @media (max-width: 300px) {
    .skin-wrapper h2 {
        font-size: 11px;
    }
    
  }