/*Litila one , Luckiest guy*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

.body{
    
    touch-action: none;
}



.wrapper {
    background-image: url(img/background.jpg);
    width: 100vw;
    max-width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 66 ;
}

.modal{
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #d8d8d8;
    z-index: 4;
    transition: 200ms;
    overflow: hidden;
}

.modal--content{
    width: 100%;
    overflow-y: scroll;
}

.modal--powerUps {
    padding: 20px;
    
}

.modal--powerUpsWrapper{
    display: flex;
    gap: 10px;
}

.modal--powerUpsWrapper div{
    width: 100%;
    
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

.modal--powerUpsTitle{
    font-size: 1.2em;
    margin-bottom: 10px;
}

.powerUps--cpc, .powerUps--ac  {
    padding: 10px;
    font-size: .6em;
   
}



.powerUps--img{
    height: 50px;
}

.modal--skins{
    width: 100%;
    margin-top: 10px;
    padding: 0 20px 0 20px;
    padding-bottom: 120px;
}



.skin-wrapper{
    padding: 10px 15px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    
}

.skin--img{
    display: flex;
    align-items: center;
}

.skin--title {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.skin-wrapper img{
    width: 50px;
    
}


.skin-wrapper h2 {
    font-size: 20px;
}

.skin--buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: self-end;
}

.skin--buttons button {
   
    color: white;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 40px;
}

.skin--equipButton{
    background-color: rgb(24, 90, 212) ;
}

.skin--buyButton {
    background-color: #05cf05;
}

.coin {
    width: 27vh;
    transition: 50ms;
    position: absolute;
    top: 32vh;
}

.menu {
    display: flex;
    justify-content: space-between;
    color: white;
    bottom: 20PX;
    position: absolute;
    background-color: white;
    width: 60%;
    height: 90px;
    border-radius: 15px;
    z-index: 5;
}

.menu-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button img{
    width: 40px;
}

.header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 70px;
    color: white;
    letter-spacing: 3px;
    padding: 5px;
    
}



.score{
    font-size: 1.4em;
    
}

.bonuses {
    width: 100%;
    position: absolute;
    top: 70px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
}

.perc {
    text-align: center;
    padding: 10px;
    font-size: .6em;
}



.crypto-bonus {
    color: #05cf05;
    
}

.streak h3 {
    font-size: 3em;
}

