/*Litila one , Luckiest guy*/

.body{
    touch-action: none;
}

.wrapper {
    max-width: 500px;
    display: flex;
    justify-content: center;
    position: relative;
}

.coin {
    width: 70%;
    transition: 50ms;
    position: absolute;
    top: 30vh;
}


